---
layout: workshop
root: .
venue: Universidade Federal da Bahia, Salvador
address: Av. Ademar de Barros , 500 , Ondina , 40170-110 , Salvador
country: Brazil
language: pt
latlng: -13.001854, -38.508954
humandate: Ago 31-Set 01, 2015
humantime: 13:00 - 17:00 pm
startdate: 2015-08-24
enddate: 2015-08-26
instructor: ["Filipe Fernandes"]
helper: ["Juliana Leonel"]
contact: ocefpaf@gmail.com
etherpad: https://etherpad.mozilla.org/ep/pad/create?padId=2015-08-24-UFBA
---

<!--
  HEADER

  Edit the values in the block above to be appropriate for your
  workshop.  Run 'tools/check' *before* committing to make sure that
  changes are good.
-->


<h2>Informações Gerais</h2>

<!--
  INTRODUCTION

  Edit the general explanatory paragraph below if you want to change
  the pitch.
-->
<p>
  A missão do <a href="{{site.swc_site}}">Software Carpentry</a>
  é auxiliar engenheiros e cientistas a executar seu trabalho de forma
  mais eficiente pelo ensino de técnicas de computação.  Este workshop
  cobrirá com atividades, conceitos e ferramentas, incluindo a concepção de
  programas, controle de versão, gerenciamento de dados e automação de
  tarefas.  Os participantes serão incentivados a ajudar uns aos outros e
  para aplicar o que aprenderam em seu trabalho/pesquisa.
</p>
<p align="center">
  <em>
    Para maiores informações sobe o que ensinamos e o porquê veja nossa
    publicação
    "<a href="http://journals.plos.org/plosbiology/article?id=10.1371/journal.pbio.1001745">Best Practices for Scientific Computing</a>".
  </em>
</p>

<!--
  AUDIENCE

  Explain who your audience is.  (In particular, tell readers if the
  workshop is only open to people from a particular institution.
-->
<p>
  <strong>Quem:</strong>
  O curso é destinado a estudantes e pesquisadores.
</p>

<!--
  LOCATION

  This block displays the address and links to maps showing directions
  if the latitude and longitude of the workshop have been set.  You
  can use http://itouchmap.com/latlong.html to find the lat/long of an
  address.
-->
{% if page.latlng %}
<p>
  <strong>Onde:</strong>
  {{page.address}}.
  Direções em
  <a href="//www.openstreetmap.org/?mlat={{page.latlng | replace:',','&mlon='}}&zoom=16">OpenStreetMap</a>
  ou
  <a href="//maps.google.com/maps?q={{page.latlng}}">Google Maps</a>.
</p>
{% endif %}

<!--
  SPECIAL REQUIREMENTS

  Modify the block below if there are any special requirements.
-->
<p>
  <strong>Requisitos:</strong> Os participantes devem trazer um laptop
  com um conjunto de software instalados.  Mais instruções
  <a href="#setup">abaixo</a>).  Alunos devem seguir o
  <a href="{{site.swc_site}}/conduct.html">Código de Conduta</a>
  do Software Carpentry.
</p>

<!--
  CONTACT EMAIL ADDRESS

  Display the contact email address set in the header.  If an address
  isn't set in the header, the Software Carpentry admin address is
  used.
-->
<p>
  <strong>Contato</strong>:
  Escreva para
  {% if page.contact %}
    <a href='mailto:{{page.contact}}'>{{page.contact}}</a>
  {% else %}
    <a href='mailto:{{site.contact}}'>{{site.contact}}</a>
  {% endif %}
  para mais informações.
</p>

<hr/>

<!--
  SCHEDULE

  Show the workshop's schedule.  Edit the items and times in the table
  to match your plans.  You may also want to change 'Day 1' and 'Day
  2' to be actual dates or days of the week.
-->
<h2>Horário</h2>

<div class="row">
  <div class="col-md-6">
    <h3>Dia 1</h3>
    <table class="table table-striped">
      <tr> <td>13:00</td> <td>Automatizando tarefas com o Shell</td> </tr>
      <tr> <td>14:00</td> <td>Shell/Versão de controle com o Git</td> </tr>
      <tr> <td>14:30</td> <td>Café</td> </tr>
      <tr> <td>15:00</td> <td>Versão de controle com o Git</td> </tr>
      <tr> <td>16:30</td> <td>Café</td> </tr>
      <tr> <td>17:00</td> <td>Acertos finais</td> </tr>
    </table>
  </div>
  <div class="col-md-6">
    <h3>Dia 2</h3>
    <table class="table table-striped">
      <tr> <td>13:00</td>  <td>Matlab</td> </tr>
      <tr> <td>14:00</td>  <td>Matlab/Python</td> </tr>
      <tr> <td>14:30</td>  <td>Café</td> </tr>
      <tr> <td>15:00</td>  <td>Matlab/Python</td> </tr>
      <tr> <td>16:30</td>  <td>Café</td> </tr>
      <tr> <td>17:00</td>  <td>Acertos finais</td> </tr>
    </table>
  </div>
</div>

<!--
  ETHERPAD

  Display the Etherpad for the workshop.  You can set this up in
  advance or on the first day; either way, make sure you push changes
  to GitHub after you have its URL.  To create an Etherpad, go to

      http://etherpad.mozilla.org/YYYY-MM-DD-site

  where 'YYYY-MM-DD-site' is the identifier for your workshop (e.g.,
  '2015-06-10-esu'.
-->
{% if page.etherpad %}
<p>
  <strong>Etherpad:</strong> <a href="{{page.etherpad}}">{{page.etherpad}}</a>.
  <br/>
  Nos usaremos o link para do Etherpad acima para conversar, tomar notas,
  e compartilhar URLs e pedaços de código.
</p>
{% endif %}

<hr/>

<!--
  SYLLABUS

  Show what topics will be covered.

  1. If your workshop is R rather than Python, remove the comment
     around that section and put a comment around the Python section.
  2. Some workshops will delete SQL.
  3. Please make sure the list of topics is synchronized with what you
     intend to teach.
  4. You may need to move the div's with class="col-md-6" around inside
     the div's with class="row" to balance the multi-column layout.

  This is one of the places where people frequently make mistakes, so
  please preview your site before committing, and make sure to run
  'tools/check' as well.
-->
<h2>Programa De Estudos</h2>

<div class="row">
  <div class="col-md-6">
    <h3>Shell</h3>
    <ul>
      <li>Arquivo e diretórios</li>
      <li>Histórico de comandos e Tab-comp</li>
      <li>Redirecionamento e Pipes</li>
      <li>Loop em arquivos</li>
      <li>Criando e executando shell-scripts</li>
      <li>Encontrado coisas</li>
      <li><a href="{{site.swc_lessons}}/ref/01-shell.html">Referências...</a></li>
    </ul>
  </div>
  <div class="col-md-6">
    <h3>Controle de versão com o Git</h3>
    <ul>
      <li>Criando um repositório</li>
      <li>Gravando alterações em arquivos: <code>add</code>, <code>commit</code>, ...</li>
      <li>Visualizando as alterações: <code>status</code>, <code>diff</code>, ...</li>
      <li>Ignorando arquivos</li>
      <li>Trabalhando na web: <code>clone</code>, <code>pull</code>, <code>push</code>, ...</li>
      <li>Resolvendo conflitos</li>
      <li>Licenças abertas</li>
      <li>Onde hospedar seu trabalho, e por que</li>
      <li><a href="{{site.swc_lessons}}/ref/02-git.html">Referências...</a></li>
    </ul>
  </div>
</div>

<div class="row">
  <div class="col-md-6">
    <h3>Programando com o Matlab</h3>
    <ul>
      <li>Analisando dados de pacientes</li>
      <li>Escrevendo scripts</li>
      <li>Repetição com loops</li>
      <li>Criando funções</li>
      <li>Tomando decisões</li>
      <li>Programação defensiva</li>
      <li><a href="http://swcarpentry.github.io/matlab-novice-inflammation/">Referências...</a></li>
    </ul>
  </div>
  <div class="col-md-6">
    <h3>Programando com o Python</h3>
    <ul>
      <li>Usando módulos</li>
      <li>Trabalhando com <code>arrays</code> </li>
      <li>Lendo e plotando dados</li>
      <li>Criando e usando funções</li>
      <li>Loops e condicionais</li>
      <li>Programação defensiva</li>
      <li>Usando Python da linha de comando</li>
      <li><a href="{{site.swc_lessons}}/ref/03-python.html">Referências...</a></li>
    </ul>
  </div>
</div>

<hr/>

<!--
  SETUP

  Delete irrelevant sections from the setup instructions.  Each
  section is inside a 'div' without any classes to make the beginning
  and end easier to find.

  This is the other place where people frequently make mistakes, so
  please preview your site before committing, and make sure to run
  'tools/check' as well.
-->

<h2 id="setup">Preparando para o workshop</h2>

<p>
  Para participar no workshop do Software Carpentry você precisará de acesso
  ao Software descrito abaixo.  Você também precisará de um browser moderno
  (Firefox ou Chrome).  Quando terminar de instalar o software listado abaixo,
  navegue até <a href="setup/index.html">essa página</a>, onde você encontrará
  instruções sobre como testar se tudo está instalado corretamente.

  Nós mantemos uma lista de problemas comuns e algumas soluções para as
  instalações em
  <a href = "https://github.com/swcarpentry/workshop-template/wiki/Configuration-Problems-and-Solutions">Configuration Problems and Solutions wiki page</a>.
</p>

<div id="shell"> <!-- Start of 'shell' section. -->
  <h3>Bash Shell</h3>

  <p>
    Bash é um shell comumente usado que lhe dá o poder de fazer simples
    tarefas mais rapidamente.
  </p>

  <div class="row">
    <div class="col-md-4">
      <h4 id="shell-windows">Windows</h4>
      <p>
      Baixe <a href="https://git-for-windows.github.io/">o instalador</a>
      do Git para Windows e execute-o.
      <strong>
        Importante: na 6ª página do instalador
        (a página com o título "Configuring the terminal emulator...")
        selecione "Use Windows' default console window".
        Se você esquecer de selecionar essa opção
        os programas que você precisa para o workshop
        não serão instalados adequadamente.
        Se isso acontecer, execute novamente o instalador
        selecionando a opção apropriada dessa vez.
      </strong>
      Após a instalação você terá disponível no seu computador
      tanto o Git como o Bash.
      </p>
    </div>
    <div class="col-md-4">
      <h4 id="shell-macosx">Mac OS X</h4>
      <p>
        O shell padrão em todas as versões do Mac OS X é o bash, então não é
        necessário instalar nada. Você acessa o App do Terminal em
        <code>/Applications/Utilities</code>).
      </p>
    </div>
    <div class="col-md-4">
      <h4 id="shell-linux">Linux</h4>
      <p>
        O shell padrão é geralmente Bash, mas se o seu
        máquina é configurado de forma diferente, você já sabe muito bem o
        que está fazendo ;-).
      </p>
    </div>
  </div>
</div> <!-- End of 'shell' section. -->

<div id='git'> <!-- Start of 'Git' section. GitHub browser compatability
           is given at https://help.github.com/articles/supported-browsers/-->
  <h3>Git</h3>

  <p>
    Git é um sistema de controle de versão que te permite rastrear quem,
    quando e para qual propósito de cada modificação feita em seus projetos.
    Git possuí opções para atualizar versões públicas dos seus projetos no
    <a href="https://github.com/">github.com</a>.
  </p>

  <div class="row">
    <div class="col-md-4">
      <h4 id="git-windows">Windows</h4>
      <p>
        Git deve ser instalado no seu computador juntamente com o Bash
        (como descrito acima).
      </p>
    </div>
    <div class="col-md-4">
      <h4 id="git-macosx">Mac OS X</h4>
      <p>
        <strong>Para OS X >= 10.9</strong>, instale "Git for Mac"
        pelo instalador mais recente do
        <a href="http://sourceforge.net/projects/git-osx-installer/files/">"mavericks"</a>.
        Não há nada na sua pasta<code>/Applications</code> depois de instalar Git.
        Git é um programa de linha de comando.
        <strong>Para versões antigas do OS X (10.5-10.8)</strong> use o
        instalador mais recente disponível em
        <a href="http://sourceforge.net/projects/git-osx-installer/files/">"snow-leopard"</a>.
      </p>
    </div>
    <div class="col-md-4">
      <h4 id="git-linux">Linux</h4>
      <p>
        Se Git não estiver instalado em sua máquina tente instalar pelo
        instalador padrão de sua distribuição. Para Debian/Ubuntu execute
        <code>sudo apt-get install git</code>, para Fedora
        <code>sudo yum install git</code>,
        e para OpenSUSE <code>sudo zypper in git</code>.
      </p>
    </div>
  </div>
</div> <!-- End of 'Git' section. -->

<div id="editor"> <!-- Start of 'editor' section. -->
  <h3>Editor de texto</h3>

  <p>
    É recomendado ter um editor de texto otimizado para escrever código,
    com características como coloração de código.  O editor de texto padrão
    no Mac OS X e Linux é normalmente definido como Vim, que não é famoso
    por ser intuitivo; Caso você se encontre preso acidentalmente nele,
    tente digitar ESC, seguido por <code>:q!</code> (dois pontos,
    'q' minúsculo e ponto de exclamação), depois aperte Enter para voltar ao
    Shell.
  </p>

  <div class="row">
    <div class="col-md-4">
      <h4 id="editor-windows">Windows</h4>
      <p>
        nano é um editor básico que os instrutores usam no workshop.
        Para instalá-lo baixe o instalador do
        <a href="{{site.swc_installer}}">Software Carpentry Windows</a>.
        <strong>Esse instalador requer uma conexão com a internet.</strong>
      </p>
      <p>
        Outros editores que você pode usar
        <a href="http://notepad-plus-plus.org/">Notepad++</a> ou
        <a href="http://www.sublimetext.com/">Sublime Text</a>.
      </p>
    </div>
    <div class="col-md-4">
      <h4 id="editor-macosx">Mac OS X</h4>
      <p>
        Editores que você pode usar são
        <a href="http://www.barebones.com/products/textwrangler/">Text Wrangler</a> ou
        <a href="http://www.sublimetext.com/">Sublime Text</a>.
      </p>
    </div>
    <div class="col-md-4">
      <h4 id="editor-linux">Linux</h4>
      <p>
        Alguns editores que você pode usar são
        <a href="https://wiki.gnome.org/Apps/Gedit">Gedit</a>,
        <a href="http://kate-editor.org/">Kate</a> or
        <a href="http://www.sublimetext.com/">Sublime Text</a>.
      </p>
    </div>
  </div>
</div> <!-- End of 'editor' section. -->

<div id="python"> <!-- Start of 'Python' section. Remove the third paragraph if
           the workshop will teach Python using something other than
           the IPython notebook.
           Details at http://ipython.org/ipython-doc/2/install/install.html#browser-compatibility -->
  <h3>Python</h3>

  <p>
    <a href="http://python.org">Python</a> é uma linguagem de programação
    popular em computação científica, e ótima para propósitos gerais de
    programação também.  Instalar todos os pacotes científicos que usaremos
    individualmente pode ser complicado.  Por isso recomendamos o uso de pacotes
    agregados.  Mais detalhes na página do curso de python
    <a href="http://ocefpaf.github.io/python4oceanographers_intro_course/setup/.">curso de python</a>.
  </p>
</div> <!-- End of 'Python' section. -->
